name: Back End Deployment

on:
    push:
        branches:
            - main

env:
  BUILD_NUMBER: ${{ github.run_number }}
  IMAGE_NAME: ${{ vars.DOCKERHUB_USERNAME }}/api-session14
  PROJECT_PATH: /home/user/devops-script/backend/dev
  DOCKER_SERVICE: backend-api

jobs:
    Unit_Test:
        runs-on: ubuntu-latest
        steps:
            - name: Post a message in a channel
              uses: slackapi/slack-github-action@v2.1.1
              with:
                webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
                webhook-type: incoming-webhook
                payload: |
                  text: "*GitHub Action Start pipline*: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"

            - name: checkout code
              uses: actions/checkout@v5

            - name: Install Dependencies
              run: npm i

            - name: Run Unit Test
              run: npm run test

    sonarqube-code-quality-scan-job:
        runs-on: ubuntu-latest
        steps:
          - name: Clone Source Code
            uses: actions/checkout@v4

          - name: SonarQube Scan
            uses: sonarsource/sonarqube-scan-action@master
            env:
              SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

    trivy-image-security-scan-job:
      needs: [ Unit_Test, sonarqube-code-quality-scan-job ]
      runs-on: ubuntu-latest
      steps:      
        - name: Checkout Code
          uses: actions/checkout@v4
        - name: Install dependencies
          run: sudo apt-get update && sudo apt-get install -y curl
        - name: Download and install Trivy
          run: |
            curl -sSL https://github.com/aquasecurity/trivy/releases/download/v0.29.0/trivy_0.29.0_Linux-64bit.tar.gz -o trivy.tar.gz
            tar xzvf trivy.tar.gz
            sudo mv trivy /usr/local/bin/
            trivy --version
        - name: Run Trivy Docker image vulnerability scan
          run: |
            docker build -t ${{ env.IMAGE_NAME }} .
            trivy image ${{ env.IMAGE_NAME }}

    snyk-code-security-scan-job:
      runs-on: ubuntu-latest
      steps:

        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Install Dependency Scanning Tool (Snyk)
          run: npm install -g snyk

        - name: Snyk Authentication
          run: snyk auth ${{ secrets.SNYK_TOKEN }}

        - name: Run Snyk Vulnerability Scan
          run: snyk monitor --all-projects --org=session14 
         

    Build_And_Push:
        runs-on: ubuntu-latest
        needs: [ trivy-image-security-scan-job, snyk-code-security-scan-job ] 
        steps:
            - name: checkout code
              uses: actions/checkout@v5

            - name: Build Docker Image
              run: docker build -t ${{ env.IMAGE_NAME }} .

            - name: Tag Docker Image with version
              run: docker tag ${{ env.IMAGE_NAME }} ${{ env.IMAGE_NAME }}:v${{ env.BUILD_NUMBER }}

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: List Images 
              run: docker images

            - name: Push Docker image
              run: docker push ${{ env.IMAGE_NAME }}

            - name: push version image
              run: docker push ${{ env.IMAGE_NAME }}:v${{ env.BUILD_NUMBER }}
            
    Deployment:
        runs-on: ubuntu-latest
        needs: Build_And_Push
        steps:
            - name: SSH Connect And Deploy
              uses: appleboy/ssh-action@v1
              with:
                host: ${{ secrets.VPS_HOST }}
                username: ${{ secrets.VPS_USERNAME }}
                password: ${{ secrets.VPS_PASSWORD }}
                script: |
                    cd ${{ env.PROJECT_PATH }}
                    sudo docker compose pull ${{ env.DOCKER_SERVICE }}
                    sudo docker compose down ${{ env.DOCKER_SERVICE }}
                    sudo docker compose up -d 
